h1{
    color: #FF9200;}
h1{
    font-family: fantasy}
h1{
    text-decoration: underline;
    text-decoration-style: wavy;}
h1{
    font-size: 40px}
h1 {
  text-shadow: 2px 2px #ff0000;}
body{
    background: #000000;}
body{
    color: #FFFFFF;}
body {
    font-family: "Arial Black", Gadget, sans-serif;}
body {
    text-align: center;}
body {
    font-size: 15px}
